
@import "bootstrap/scss/bootstrap";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
}

body{
    background-color: red;
}


